* {
    margin: 0;
    padding: 0;
    font-family: "Orbitron", sans-serif;
}
body {
    position: relative;
}
.navbar {
    width: 99%;
    margin: 0 auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    min-height: 70px;
    box-shadow: 0px 2.5px 2px #84a59d;
}
.navbar-brand img{
    width: 60px;
    margin-bottom: 5px;
    margin-top: 2px;
}

.navbar-nav .nav-item {
    margin-left: 5px;
    margin-right: 7px;
    padding-right: 7px;
    font-size: 20px;
    border-right: 1px solid rgba(100, 100, 100, 0.7);
}

.navbar-nav .nav-item:last-child {
    border-right: none;
}
.hero-container{
    margin-top: 120px;
}
.hero-container .title-name {
    color: white;
    font-size: 8rem;
    text-align: end;
    border-right: 4px solid #84a59d;
    letter-spacing: 15px;
    text-shadow: 0px 3px 2px rgb(107, 107, 107);
}
.hero-container .title-text {
    vertical-align: middle;
    font-size: 3rem;
    color: rgb(230, 230, 230);
}
@media (max-width: 992px) {
    .navbar-nav .nav-item {
        border-right: none;
    }
}