* {
  margin: 0;
  padding: 0;
  font-family: "Orbitron", sans-serif;
}
body {
  position: relative;
}
.navbar {
  width: 98%;
  margin: 0 auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  min-height: 70px;
  box-shadow: 0px 0.5px 4px #84a59d;
  background-color: #edf2f4;
}
.navbar-brand img {
  width: 60px;
  margin-bottom: 5px;
  margin-top: 2px;
}

.navbar-nav .nav-item {
  margin-left: 5px;
  margin-right: 7px;
  padding-right: 7px;
  font-size: 20px;
  border-right: 1px solid rgba(100, 100, 100, 0.7);
}

.navbar-nav .nav-item:last-child {
  border-right: none;
}
.hero-container {
  margin-bottom: 235px;
  margin-top: 175px;
}
.hero-container .title-name {
  color: white;
  font-size: 8rem;
  text-align: end;
  border-right: 6px solid #84a59d;
  letter-spacing: 15px;
  text-shadow: 0px 3px 5px rgb(107, 107, 107);
}
.hero-container .title-text {
  vertical-align: middle;
  font-size: 3rem;
  color: rgb(230, 230, 230);
}
main {
  width: 98%;
  background: #edf2f4;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0px 0.5px 4px #84a59d;
  position: relative;
}

main #logo {
  width: 60px;
  margin-bottom: 10px;
}
#artistgallerytxt {
  border: 4px solid #84a59d;
  margin-top: 70px;
  font-size: 3rem;
  letter-spacing: 10px;
  color: #212529;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 20px;
}
.divider {
  height: 2px;
  background-color: #84a59d;
}
.gallery-content {
  padding-bottom: 28px;
  margin-bottom: 20px;
}
.gallery-content:last-child {
  padding-bottom: 100px !important;
}
.gallery-content .artist-name {
  margin: auto 0;
  font-family: "Orbitron", sans-serif;
  font-size: 3rem;
}
.gallery-img {
  box-shadow: 7px 10px 8px grey;
}
#transparencypolicy {
  margin-top: 150px;
}
#transparencypolicytxt {
  color: white;
  border: 4px solid #84a59d;
  margin-top: 70px;
  font-size: 3rem;
  letter-spacing: 10px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 20px;
}

.wallet {
  margin-top: 15px !important;
  padding: 20px;
  border: 1px solid #84a59d;
  color: white;
  font-family: "Orbitron", sans-serif;
}
#transparencypolicyfooter {
  color: white;
  border: 4px solid #84a59d;
  margin-top: 16px;
  font-size: 1rem;
  letter-spacing: 5px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 20px;
}

footer {
  width: 98%;
  background: white;
  margin: 0 auto;
  margin-top: 150px;
  min-height: 80px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
footer a {
    text-decoration: none;
    color: #84a59d;
}

footer a:hover {
    color: #84a59d;
}
.border-bottom {
  border-bottom: 1px solid black;
}
.red-text {
  color: red;
}
.red {
  background: red;
}
.blue {
  background: blue;
}
@media (max-width: 992px) {
  .navbar-nav .nav-item {
    border-right: none;
  }
  #artistgallerytxt {
    margin-top: 35px;
  }
  .gallery-content {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .gallery-content .artist-name {
    margin-top: 16px;
  }
}
@media (max-width: 767px) {
  .hero-container {
    margin-top: 75px;
    margin-bottom: 135px;
  }
  .hero-container .title-name {
    text-align: center;
    border-right: none;
    border-bottom: 6px solid #84a59d;
    font-size: 3.5rem;
    padding-bottom: 5px;
  }
  .hero-container .title-text {
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
  }
  .hero-container br {
    display: none;
  }
  #artistgallerytxt {
    letter-spacing: 5px;
  }
  #transparencypolicy {
    margin-top: 50px;
  }
  #transparencypolicytxt {
    letter-spacing: 2px;
    font-size: 2rem;
  }
  .wallet {
    margin-top: 15px !important ;
  }
  .reset-font-size {
    font-size: 1rem;
  }
  #transparencypolicyfooter {
    font-size: 0.7rem;
    margin-top: 15px;
  }
  footer .footer-text {
      padding: 7px;
  }
  footer .footer-text:last-child {
      margin-bottom: 20px;
  }
}

@media (max-width: 430px) {
    #artistgallerytxt {
        font-size: 2rem;
    }
    .gallery-content .artist-name {
        font-size: 2rem;
    }
}

.collapse-item {
  transition: height 2s;
}
.collapse-p {
  display: none;
  overflow-x: hidden;
}